
html, body,#root{
  height: 100%;
 background-color: rgb(37, 36, 36);
 color: rgb(75, 54, 27);
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
form{
  background-color: rgb(197, 212, 212);
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   margin: 20px;
  padding: 20px;
  gap: 10px;
  width: 320px;      
}
